
.categ {
  border: 1px solid rgb(32, 30, 30) !important;
min-height: 40rem !important;
max-height: 90vh !important;
}

.icon-hover:hover {
  border-color: #3b71ca !important;
  background-color: white !important;
  color: #3b71ca !important;
}

.icon-hover:hover i {
  color: #3b71ca !important;
}

#file-upload-btn {
  border: 3px solid red;
  height: 8rem;
  width: 8rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Hide the default file input */
#image_input {
  display: none;
 
}

 
.NavbarTop {
  margin-bottom: 6.8vh !important;
  border: 3px solid red !important;
}



.FeatureProductCarousal {
  height: 28rem !important;
  position: relative !important;
}
@media (max-width: 768px) {
  .NavbarTop {
    margin-bottom: 6rem !important;
  }
  .FeatureProductCarousal {
    height: 15rem !important;
    position: relative !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .FeatureProductCarousal {
    margin-top: 2.1rem !important;
    height: 19rem !important;
    position: relative !important;
  }
}
